html {
    max-width: 800px;
    margin: 20px auto;
}

.print {
    margin: 20px 0px;
}

body {
    width: 90%;
    margin: auto;
    max-width: 900px;
    margin-bottom: 30px;
}

.row {
    margin-bottom: 10px;
    margin-left: 0px;
}

h2 {
    margin: 0px;
}

h1 {
    padding: 0px !important;
}

h3 {
    font-size: 22px;
}

h4 {
    margin: 0px;
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

.col-12,
.col-7,
.col-6,
.col-5,
.col-3,
.col-2 {
    padding: 0px;
}

.title {
    margin-top: 20px;
    border-bottom: solid 1px black;
}

.subtitle {
    text-transform: uppercase;
    margin-top: 15px;
}

section {
    page-break-inside: avoid;
}

.publication--info,
.publication--authors,
.education--info,
.raship--info,
.presentation--info {
    display: inline-block;
}

section h6 {
    margin-bottom: 0px;
}

.presentation-list {
    padding-top: 10px;
}

ol {
    padding-left: 0px;
}

li {
    margin-left: 15px;
    padding-left: 10px !important;
}

section a {
    color: black;
}

section a:hover {
    text-decoration: none;
}

.service--description {
    padding-left: 20px;
}

.presentation--date {
    margin-left: -20px;
}

.presentation--info {
    padding-right: 15px;
}

.notbold {
    font-weight: normal;
}
