.print {
    display: none;
}

a:link {
    text-decoration: none !important;
}

a[href]:after {
    content: none !important;
}

html {
    margin: 0px !important;
}

h1 {
    padding: 0px !important;
}

body {
    font-family: 'EB Garamond', serif;
}

body {
    margin: 0px !important;
}

span {
    font-size: 14pt !important;
}

.row {
    margin-bottom: 10px;
    margin-left: 0px;
}

h2 {
    margin: 0px;
    font-size: 20pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    margin: 0px;
    font-size: 16pt;
}

h5 {
    font-size: 14pt;
    font-variant: small-caps;
}

h6 {
    font-size: 14pt;
}

.col-12,
.col-7,
.col-6,
.col-5,
.col-3,
.col-2 {
    padding: 0px;
}

.service--title,
.service--date,
.service--info {
    display: inline-block;
}

.other--teaching--info,
.service--info {
    margin-top: -0.2em;
    line-height: -0.2em;
    font-style: italic;
}

.title {
    margin-top: 20px;
    border-bottom: solid 1px black;
}

.subtitle {
    text-transform: uppercase;
    margin-top: 15px;
}

.publication--info,
.publication--authors,
.education--info,
.raship--info,
.presentation--info,
.other--teaching {
    display: inline-block;
}

section h6 {
    margin-bottom: 0px;
}

ol {
    padding-left: 0px;
}

li {
    margin-left: 25px;
    padding-left: 10px !important;
    page-break-inside: avoid !important;
}

li {
    font-size: 14pt;
}

section a {
    color: black;
}

section a:hover {
    text-decoration: none;
}

.service {
    gap: 0px;
}

@page {
    margin: 0in;
    margin-top: 1in;
    margin-bottom: 1in;
    size: 8.5in 11in;
}

#printcss {
    margin-left: 1in;
    margin-right: 1in;
    overflow: visible !important;
    position: relative;
    left: -0.1in;
}

section {
    width: 100% !important;
}

.row {
    page-break-inside: avoid;
}

h3 {
    /* page-break-inside: avoid !important; */
    margin-top: 1em;
    margin-bottom: 0.9em;
    padding-bottom: 0.1em;
}

h3::after {
    content: '';
    display: block;
    height: 200px;
    margin-bottom: -200px;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.9em;
    padding-bottom: 0.1em;
}

h4::after {
    content: '';
    display: block;
    height: 200px;
    margin-bottom: -200px;
}

.presentation--date {
    margin-left: -15px;
}

.presentation--info {
    padding-right: 15px;
}

.page {
    page-break-before: always;
}

.presentation-list {
    padding-top: 10px;
}

.notbold {
    font-weight: normal;
}
